<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category_id %>
</p>

<p>
  <strong>Details:</strong>
  <%= @product.details.collect(&:name).join(', ') %>
</p>

<p>
  <strong>Released On:</strong>
  <%= @product.released_on %>
</p>

<p>
  <strong>Discontinued:</strong>
  <%= @product.discontinued %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
